body {
    font-family: 'Montserrat', sans-serif;
}
/* Menu de navegação*/
.cabecalhoPrincipal .container{
    align-items: center;
    background: #52C2DE;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.cabecalhoPrincipal-titulo-a{
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    margin-right: 1.2rem;
    text-decoration: none;
}

.cabecalhoPrincipal-nav{
    display: flex;
    list-style: none;
}

.cabecalhoPrincipal-nav-link a{
    color: #FDFCFB;
    font-weight: bold;
    font-size: 18px;
    margin-right: 1.2rem;
    text-align: center;
    text-decoration: none;
}

.cabecalhoPrincipal-nav-link a:hover{
    border-bottom: 2px solid #FDFCFB;
}

/*Seção buscador*/
.buscador{
    background: #B6E6F2;
    display: flex;
    padding: 20px 20px;
}

#buscador-categoria {
    width: 70%;
    height: 60px;
    margin-left: 10%;
    padding: 16px 24px;
    border-radius: 4px;
    border: none;
    font-size: 20px;
}

.botao {
    width: 5%;
    height: 58px;
    margin: 0 3px;
    border-radius: 4px;
    border: none;
    background: #FDFCFB;
}

.botao:hover {
    background: #52C2DE;
    color: #FDFCFB;
    cursor: pointer;
}

.lupa {
    font-size: 200%;
}

.lupa:hover {
    color: #FDFCFB;
}

/* Seção de categorias */
.categorias {
    background: #B6E6F2;
    display: flex;
    font-size: 20px;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 10px;
    background: #B6E6F2;
}

.categorias-lista-background{
    border-radius: 5px;
    display: flex;
    padding-left: 10px;
    width: 70px;
}

.categorias-lista-titulo {
    display: flex;
    color: #000000;
    font-size: 16px;
    justify-content: space-between;
    padding: 20px 0;
    text-decoration: none;
    width: 10px;
}

.categorias a{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    min-height: 91px;
    text-decoration: none;
    width: 120px;
}

.left {
    padding-left: 15px;
}