body {
    font-family: 'Montserrat', sans-serif;
}
/* Seção menu de navegação */
.cabecalhoPrincipal .container{
    align-items: center;
    background: #52C2DE;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.cabecalhoPrincipal-titulo-a{
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    margin-right: 1.2rem;
    text-decoration: none;
}

.cabecalhoPrincipal-nav{
    display: flex;
    list-style: none;
}

.cabecalhoPrincipal-nav-link a{
    color: #FDFCFB;
    font-size: 18px;
    font-weight: bold;
    margin-right: 1.2rem;
    text-align: center;
    text-decoration: none;
}

.cabecalhoPrincipal-nav-link a:hover{
    border-bottom: 2px solid #FDFCFB;
}
/* Seção do buscador */
.buscador{
    background: #B6E6F2;
    display: flex;
    padding: 20px 20px;
}

#buscador-categoria {
    border: none;
    border-radius: 4px;
    font-size: 20px;
    height: 60px;
    margin-left: 10%;
    padding: 16px 24px;
    width: 70%;
}

.botao {
    background: #FDFCFB;
    border: none;
    border-radius: 4px;
    height: 58px;
    margin: 0 3px;
    width: 5%;
}

.botao:hover {
    background: #52C2DE;
    color: #FDFCFB;
    cursor: pointer;
}

.lupa {
    font-size: 200%;
}

.lupa:hover {
    color: #FDFCFB;
}
/* Seção de categorias */
.categorias {
    background: #B6E6F2;
    display: flex;
    font-size: 20px;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 10px;
}

.categorias-lista-background{
    border-radius: 5px;
    display: flex;
    padding-left: 10px;
    width: 70px;
}

.categorias-lista-titulo {
    display: flex;
    color: #000000;
    font-size: 16px;
    justify-content: space-between;
    padding: 20px 0;
    text-decoration: none;
    width: 10px;
}

.categorias a{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    min-height: 91px;
    text-decoration: none;
    width: 120px;
}

.left {
    padding-left: 15px;
}

.center {
    text-align: center;
}
/* Seção do sobre */
.container-sobre {
    align-items: center;
    background: #FDFCFB;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}

.titulo-sobre {
    display: flex;
    font-size: 48px;
    font-weight: bold;
}

.paragrafo-sobre {
    display: flex;
    font-size: 33px;
    width: 80%;
}
/* Seção da campanhas */
.container-campanhas {
    align-items: center;
    background: #FDFCFB;
    display: flex;
    justify-content: space-around;
}

.campanha-agasalhos {
    align-items: center;
    background: #73CFE6;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    height: 350px;
    margin: 20px 0 30px 0;
    width: 350px;
}

.campanhas-agasalhos-logo {
    padding-top: 35px;
    width: 80%;
}

.campanha-agasalhos-texto {
    font-size: 20px;
    padding-top: 30px;
    width: 290px;
}

.campanha-criancas {
    align-items: center;
    background: #73CFE6;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    height: 350px;
    margin: 20px 0 30px 0;  
    width: 350px; 
}
.campanha-criancas-logo {
    padding-top: 35px;
    width: 70%;  
}

.campanha-criancas-texto {
    font-size: 20px;
    padding-top: 20px;
    width: 290px;  
}

.campanha-volutarios {
    align-items: center;
    background: #73CFE6;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    height: 350px;
    margin: 20px 0 30px 0;
    width: 350px;     
}

.campanha-vonluntarios-logo {
    padding-top: 35px; 
    width: 70%;   
}

.campanha-voluntarios-texto {
    font-size: 20px;
    padding-top: 20px;
    width: 290px;   
}
/* Seção da galeria de anúncios */
.container-galeria {
    background: #FDFCFB;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria-caixa-principal {
    display: flex;
    background: #B6E6F2;
    justify-content: center;
    padding: 30px 0;
    width: 100%;
}  

.galeria-titulo {
    font-size: 30px;
    font-weight: bold;  
}

.anuncio-caixa {
    align-items: top;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 290px;
    justify-content: space-around;
    margin: 50px;
    padding: 20px 20px;
    width: 450px; 
}

.anuncio-caixa-imagem {
    display: flex;
    height: 50%;
    width: 50%;
}

.anuncio-caixa-texto {
    align-items: top;
    font-size: 18px;
    padding-bottom: 10px;
    width: 200px;
}

.anuncio-caixa-botao {
    background: #73CFE6;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    padding: 15px 60px;
    transition: 1s background;
    width: 50%;
}

.anuncio-caixa-botao:hover {
    background: #1B6C80;
}

.anuncio-caixa-botao a {
    color: #FDFCFB;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
/* Seção do rodapé */
.rodape {
    align-items: center;
    background: #FDFCFB;
    border-top: 1px solid;
    display: flex;
    justify-content: space-around;
    padding: 20px 30px;
}

.rodape-copy {
    font-size: 18px;
    font-weight: bold;
    padding-right: 50px;
}

.rodape-menu a {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.rodape-menu:hover{
    border-bottom: 2px solid;
}

.rodape-sociais {
    width: 40%;
}

.redes-sociais{
    display: flex;
    margin: 0 5px;
    width: 20%;
}